:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --logo-color-black: #000000;
    --backgound-grey: #2F303A;
    --background-lightgrey: #F5F4FA;

}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    outline: 2px solid tomato;
}

/* основной цвет #212121*/
/* вспомогательный цвет #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */

/*--Header site--*/

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: blueviolet;
    outline: 2px solid tomato;
}

.border {
    border: 1px solid #ECECEC;
    border-top: 0;
    background-repeat: 0;
    border-left: 0;
}

.logo {
    color: var(--logo-color-black) font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    text-decoration: none;
}

.logo-header {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* menu nav */

.list {
    list-style: none;
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.e-mail-nav,
.tel-nav {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.e-mail-nav:hover,
.e-mail-nav:focus,
.tel-nav:hover,
.tel-nav:focus {
    color: var(--accent-color);
}

/* -- Main site */
/* Hero */
.container.hero {
    padding: 200px 0;
}

.hero {
    background-color: var(--backgound-grey)
}

.hero-header {
    margin: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    /* border: 1px solid transparent; */


    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.container.main {
    padding: 94px 0;
}

/* Benefits (Переваги) */

.visually-hidden {
    position: nabsolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits-title {
    margin: 0;
    margin-bottom: 10px;

    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
}

.benefits-text {
    margin: 0;

    color: var(--text-color);
    line-height: 1.71;
}

/* Work and Team title */
.work-title,
.team-title {
    margin: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

/* Team */
.team {
    background-color: var(--background-lightgrey)
}

.team-name {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-profession {
    margin: 0;

    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* --Footer-- */
.container.footer {
    padding: 60px 0;
}

.logo-address {
    margin-bottom: 20px;

    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    text-decoration: none;
}

.logo-footer {
    color: var(--accent-color);
    margin-bottom: 20px;
}

.logo-address:hover,
.logo-address:focus {
    color: var(--accent-color);
}

.address {
    background-color: var(--backgound-grey);
}

.adress-footer {
    margin-bottom: 9px;
    color: var(--primary-white-color);
    font-style: normal;

    line-height: 1.71;
    text-decoration: none;

}

.adress-footer:hover,
.adress-footer:focus {
    color: var(--accent-color);
}

.address-mail,
.address-tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
}

.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
    color: var(--accent-color);
}

/* -- Portfolio -- */

.portfolio-button {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;

    background-color: var(--background-lightgrey);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.portfolio-button.all {
    width: 73px;
}

.portfolio-button.web {
    width: 125px;
}

.portfolio-button.app {
    width: 112px;
}

.portfolio-button.design {
    width: 103px;
}

.portfolio-button.marketing {
    width: 130px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
}

.portfolio-title {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-tex {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-border {
    border: 1px solid #EEEEEE;
    border-top: 0;
}

